@using BlazorApp.Components.Projekt
@using BlazorApp.Components.UI
<div class="col-lg-3">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-1 mb-5 mb-md-3">
        <div class="col-sm-4"> 
            <img class="img-fluid border rounded border-0 shadow-sm mb-4" alt="@_profile.ProfileImage"
                 src="@_profile.ProfileImage">
        </div>
        <div class="col-sm-8 order-sm-first order-lg-last">
            <h3 class="fs-5 fw-bold text-primary">@_profile.Greeting</h3>
            <p>@_profile.Description</p>
            <p>@_profile.Availability</p>
            <h3 class="fs-6 fw-bold text-primary">Email</h3>
            <p>@_profile.Email</p>
            <h3 class="fs-6 fw-bold text-primary">Social</h3> 
            <BootstrapModelButton OnClick="LoadContent" BsModalNameId="@_bsModalName" Title="Test Modal"/>                                                        </div>
    </div>
</div>
<MerchViewer ChildContent="_selectedContent" BsModalName="@_bsModalName" /> 
@code { 
    public class PortfolioProfile
    {
        public string Name { get; set; } = "Code Fry Dev";
        public string Greeting { get; set; } = "Hey! I'm Code Fry Dev";
        public string Description { get; set; } = "This is my portfolio! Here you'll find info about me and my projects.";
        public string Availability { get; set; } = "I'm available for hire";
        public string Email { get; set; } = "cfd@example.com";
        public string ProfileImage { get; set; } = "safari-pinned-tab.svg";
    }
    private bool _visible = false;
    private string _bsModalName = "projectModalPreview"; 
    private RenderFragment? _selectedContent = b =>
    {
        b.OpenComponent(0, typeof(ThreeDModelPreviwerGenerator));
        b.CloseComponent();
    };
    private void LoadContent()
    {
        _selectedContent =  b =>
        {
            b.OpenComponent(0, typeof(ThreeDModelPreviwerGenerator));
            b.CloseComponent();
        };
    } 
    PortfolioProfile _profile = new();
}
